body {
    margin: 0;
    padding: 0 25%;

    font-family: Arial, sans-serif;
    color: midnightblue;
}

body * {
    margin-top: 10px;
}

table {
    margin: auto;
}

table, th, td {
    border-collapse: collapse;
    border: 1px solid black;
}

th, td {
    padding: 10px;
}